<div class="w-full min-h-screen flex justify-center items-center">
    {{#if error}}
        {{error}}
    {{else}}
        <div class="w-[90%] max-w-[750px] flex">
            <div class="basis-[47%] bg-[#241e20]">
                <img
                    src="{{product.img}}"
                    alt=""
                    class="w-full block pt-[100px]"
                />
            </div>
            <div class="basis-[47%] bg-white p-[40px] pl-[60px]">
                <h1 class="text-[#333] text-[35px]">{{product.model}}</h1>
                <h2 class="text-[#555] text-[20px] font-semibold">R$
                    {{product.price}}</h2>
                <p>{{product.detail}}</p>
                <form>
                    <label class="option-number" for="number">Selecione um
                        número entre 36 e 45:</label>
                    <select id="number">
                        <option value="36">36</option>
                        <option value="37">37</option>
                        <option value="38">38</option>
                        <option value="39">39</option>
                        <option value="40">40</option>
                        <option value="41">41</option>
                        <option value="42">42</option>
                        <option value="43">43</option>
                        <option value="44">44</option>
                        <option value="45">45</option>
                    </select>

                    <div class="quantity-select">
                        <p>Quantidade</p>
                        <input
                            type="number"
                            name="quantity-selector"
                            id="quantity-selector"
                            value="1"
                        />
                    </div>

                    <button class="buy">Compre agora</button>

                </form>
            </div>
        </div>
    {{/if}}

</div>